header, nav, footer, {
    max-width: 92%;
    margin: 0 auto;

}
.izq{
    display: inline-block;
    max-width: 45%;   
}

.der{
    display: inline-block;
    max-width: 45%;
    position: absolute;
    left: 55%;
    
    
    margin-top: auto;
    background-color: white;
    color: darkblue;
}
.nave{    
    
    background-color: #FFBF00;
    color: black;
	text-align: center;
    
}
.central{
    
    display: inline-block;
    width: 45%;
    background-color: burlywood;
}


.centro{
    
    display: inline-block;
    width: 45%;
    background-color: chartreuse;
}

.cuerpo{
	
    background-color:#EFF8FB;
	text-align: center;
}

footer{

    background-color:#434343;
	text-align: center;
}

.widget{
    display: inline-block;
    left: 75%;
    position: absolute;
}

.button{
    background: #333333;
    color: white;
    font-size: 16px;
    margin: auto;
    text-align: center;
    text-decoration:none;
    padding: 12px 28px;
    border-radius: 4px;
    transition-duration: 0.5s;
}

.button:hover{
    background-color: #333333;
    color: white;
}
.menu{
    font-family: Arial, Helvetica, sans-serif;
}
ul,ol{  
    list-style: none;
}
.lista li a{
    background-color: #FFBF00;
    /*background-color: black;*/
    color: #ffffff;
    text-decoration: none;
    padding: 8px 10px;
    display: block;
}
.lista  li ul {
    display:none;
}
.lista > li{
    float: center;
}
.lista li a:hover{
    background-color: #434343;
}
.lista li:hover> ul {
    display: block;